.app-wrapper {
  display: flex;
  min-height: 100vh;
  background-color: #0e0e10;
  color: #fff;
}

.sidebar {
  width: 250px;
  flex-shrink: 0;
  background-color: #0e0e10;
  padding: 16px;
  height: 100vh;
  overflow-y: auto;
}

.main-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Блок видео + чат */
.channel-main {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap; /* не переносим блоки вниз */
}

.channel-player {
  flex: 3 1 0; /* flex-grow 3, flex-shrink 1, flex-basis 0 */
  min-width: 0; /* важно для корректного сжатия */
  background-color: #18181b;
  padding: 10px;
  border-radius: 8px;
}

.channel-chat {
  flex: 1 1 0;
  min-width: 0;
  background-color: #18181b;
  padding: 10px;
  border-radius: 8px;
}
